*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Google Sans", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(48, 3, 70), rgb(34, 5, 43));
    color: white;
}

header .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

header img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 2px solid rgb(213, 121, 255);
    box-shadow: 0px 0px 15px 5px rgb(114, 0, 167);
    transition: 0.5s;
}
header img:hover{
    transform: scale(1.05);
}

header .text-header{
    text-align: center;
}

header .text-header h2{
    font-size: 25px;
}
header .text-header p{
    margin-top: 5px;
    color: rgb(188, 163, 199);
    font-weight: 500;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    width: 400px;
}

main .navbar a{
    margin-right: 15px;
    font-size: 23px;
    color: white;
    transition: 0.2s;
}
main .navbar a:hover{
    color: rgb(215, 128, 255);
}
main .navbar a:active{
    opacity: 0.6;
}

main .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

main .buttons .links{
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    background-image: linear-gradient(to right, rgb(69, 27, 104), rgb(121, 8, 173), rgb(76, 1, 197));
    border: 2px solid rgb(213, 121, 255);
    border-radius: 50px;
    box-shadow: 0px 0px 10px 1px rgb(143, 1, 209);
    cursor: pointer;
    transition: 0.3s;
}

main .buttons .links h3 a{
    text-decoration: none;
    color: white;
}

main .buttons .links i{
    font-size: 20px;
}

main .buttons .links:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 10px 5px rgb(143, 1, 209);
}
